/*FOOTER----------------------------------------------------------------*/
/*footer{
}*/
.footerColumn{
    color: #F4F4F4;
    text-align: center;
    margin-top: 3rem;
}
.footerLinks{
    color: #7C7C7D;
}
.footerLinks:hover{
    text-decoration: none;
    color: #F4F4F4;
}
.footerText{
    color: #7C7C7D;
}
.footerColumnTitle{
    padding-bottom: 1rem;
}
.footerColumnTitle h5{
    font-weight: 600;
}

.footerBottom{
    margin-top: 1rem;
    padding-bottom: 3rem;
}
.footerBottomText{
    border-top: 1px solid #7C7C7D;
    color: white;
    padding-top: 1rem;
    font-weight: 600;
}